body {
    margin: 20px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #202933;
    color: whitesmoke;  
    text-align: center;
}

h1 { /* Otsikko */
    color: whitesmoke;
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration-line: underline;
    text-align: center;
}

label { /*Tehtävät tekstikenttä */
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    padding: 15px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}


div { /*Tehtävälista */
    border: 2px solid #727477;
    padding: 20px;
    text-align: left;
    border-radius: 10px; 
    color: whitesmoke;
    width: 55%;
    margin: 20px auto;
}

#addTaskBtn { /* Lisää tehtävä -nappi */
    margin-bottom: 30px;
}

.task-container { /* Tehtävälistan tehtävät */
    background-color: #727477;
    padding: 5px; 
    border-radius: 5px;
    width: 70%;
    margin: 20px auto;
    display: flex;
    align-items: center; 
    gap: 10px; 
    align-items: center; gap: 10px; 
}

.task-container button { /* Poistonappi */
    background-color: #ff4d4d;
    color: white;
    border: none;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
 
.task-container button:hover { /* Poistonapin hover */
    background-color: #cc0000;
}

.error { /* Syöttökentän virheilmoitus */
    border: 2px solid red; 
}