body {
    margin: 20px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #202933;
    color: whitesmoke;  
    text-align: center;
}

h1 {
    color: whitesmoke;
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration-line: underline;
    text-align: center;
}

label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    padding: 15px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}


div {
    border: 2px solid #727477;
    padding: 20px;
    text-align: left;
    border-radius: 10px; 
    color: whitesmoke;
    width: 55%; /* Pienennä leveyttä, voit säätää arvoa tarpeen mukaan */
    margin: 20px auto; /* Keskittää divin sivulle */
}

#addTaskBtn {
    margin-bottom: 30px; /* Lisää väliä painikkeen ja otsikon väliin */
}

.task-container {
    background-color: #727477;
    padding: 5px; 
    border-radius: 5px;
    width: 70%; /* Pienennä leveyttä, voit säätää arvoa tarpeen mukaan */
    margin: 20px auto; /* Keskittää divin sivulle */
}

.task-container button {
    background-color: #ff4d4d; /* Punainen tausta */
    color: white; /* Valkoinen teksti/emoji */
    border: none;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
 
.task-container button:hover {
    background-color: #cc0000; /* Tummempi punainen hover-tilassa */
}
