body {
    margin: 20px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: light beige;
    color: #1f1d1d;   
    text-align: center;
}

h1 {
    color: #1f1d1d;
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration-line: underline;
    text-align: center;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
}


div {
    border: 2px solid #1f1d1d;
    padding: 20px;
    text-align: left;
    border-radius: 10px; 
}